======================== Import Packages ==========================

In [1]:
import sys, pdb, glob
import numpy as np
from astropy.table import Table
import csv
from IPython.display import display, HTML
from tabulate import tabulate

========================== Code ==========================

In [2]:
### REJECTED TARGET INFO
name = np.array(['Sz78', 'Sz79', 'J15594528-4154572', 'J16000742-4149484', 'J16070863-3947219', 'J16080618-3912225', 'J16114865-3817580', 'J16122269-3713276'])
ra = np.array(['15:53:41.18', '15:53:42.68', '15:59:45.28', '16:00:07.43', '16:07:08.64', '16:08:06.17', '16:11:48.67', '16:12:22.73'])
de = np.array(['-39:00:37.10', '-38:08:10.40', '-41:54:57.20', '-41:49:48.90', '-39:47:22.70', '-39:12:22.50', '-38:17:58.30', '-37:13:27.60'])
cont = np.array(['0.00 +or- 0.28', '-0.55 +or- 0.27', '0.12 +or- 0.19', '-0.10 +or- 0.18', '0.38 +or- 0.30', '0.34 +or- 0.23', '0.12 +or- 0.30', '-0.04 +or- 0.59'])
gas13 = np.array(['$\\lt 180$', '$\\lt 168$', '$\\lt 105$', '$\\lt 102$', '$\\lt 189$', '$\\lt 102$', '$\\lt 189$', '$\\lt 171$'])
gas18 = np.array(['$\\lt 207$', '$\\lt 198$', '$\\lt 120$', '$\\lt 120$', '$\\lt 219$', '$\\lt 120$', '$\\lt 234$', '$\\lt 204$'])

In [3]:
### WRITE HEADER INFO
f = open('../output/table_04.tex', 'w')
f.write(r'\begin{table}[!htb]'                        + ' \n')
f.write(r'\caption{Rejected Targets}'                 + ' \n')
f.write(r'\label{tab-rejected}'                       + ' \n')
f.write(r'\centering  '                               + ' \n')
f.write(r'\begin{tabular}{lccrcc}'                    + ' \n')
f.write(r'\hline\hline'                               + ' \n')
f.write(r'Source & RA$_{\rm J2000}$ & Dec$_{\rm J2000}$ & $F_{\rm cont}$ & $F_{\rm 13CO}$} & $F_{\rm C18O}$ \\' + ' \n')
f.write(r' &  &  & (mJy) & (mJy~km~s$^{-1}$) & (mJy~km~s$^{-1}$) \\' + ' \n')
f.write(r'\hline' + ' \n')

8

In [4]:
### WRITE DATA
table_body = ''
for i, val in enumerate(name):
    if (i < len(name)):
        end = r' \\' + '\n'
    else:
        end = '\n'
    f.write(name[i] + ' & ' + ra[i] + ' & ' + de[i] + ' & ' + cont[i].replace('+or-', '$\pm$') + ' & ' +  
            gas13[i].replace('\\lt', '<') + ' & ' + gas18[i].replace('\\lt', '<') + end)
    
    table_body += name[i] + ' & ' + ra[i] + ' & ' + de[i] + ' & ' + cont[i].replace('+or-', '$\pm$') + ' & ' +  gas13[i].replace('\\lt', '<') + ' & ' + gas18[i].replace('\\lt', '<') + end

f.write(r'\hline'         + ' \n')
f.write(r'\end{tabular}'  + ' \n')
f.write(r'\end{table}'   + ' \n')
f.close()

In [5]:
headers = [
    "Name",
    "RA_J2000",
    "Dec_J2000",
    "F_cont (mJy)",
    "F_13CO (mJy km s-1)",
    "F_18CO (mJy km s-1)"
]

table_data = []
for row in table_body.split('\\\n'):
    table_data.append(row.split(' & '))

display(HTML(tabulate(table_data, headers=headers, tablefmt='html')))